[submodule "libs/traiNNer"]
	path = libs/traiNNer
	url = https://github.com/victorca25/traiNNer
[submodule "libs/ESRGAN"]
	path = libs/ESRGAN
	url = https://github.com/joeyballentine/ESRGAN
[submodule "libs/image-super-resolution"]
	path = libs/image-super-resolution
	url = https://github.com/idealo/image-super-resolution
[submodule "libs/SemanticSegmentationInArtPaintings"]
	path = libs/SemanticSegmentationInArtPaintings
	url = https://github.com/davidghobson1/SemanticSegmentationInArtPaintings
